@tailwind base;
@tailwind components;
@tailwind utilities;
.google {
    background-color: #db4437;
}

.facebook {
    background-color: #3b5998;
}
.btn {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    color: white;
    text-align: center;
    margin-right: 20;
}